<div id="main-top">
		<div id="content__top">
		
		</div>
	</div>

<div class="main-bot grid">
  <div class="row">
    <div class="content-bot xxl-9">
      <div class="content-bot__header">
        <h3 class="content-bot__header-text">Mới nhất</h3>
      </div>

      <div class="content-bot__flim row">
        {{#each animation}}
        <div class="col xxl-3 content-box-flim">
          <div class="content-bot__flim-item">
            <a href="flim/{{this.slug}}" class="content-bot__flim-link">
              <img src="{{this.image}}" alt="" class="content-bot__flim-img">
            </a>
          </div>
          <div class="content-bot__flim-box-name">
            <a href="flim/{{this.slug}}" class="content-bot__flim-box-link">
              <h3 class="content-bot__flim-name">{{this.name}}</h3>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
      {{#pagination current total size search}}
      <nav aria-label="Page pavination" class="nav-pagination">
        <ul class="pagination-list">
          {{#unless startFromFirstPage}}
          <li class="page-item">
            <a class="page-link" href="?page=1" aria-label="Previous">
              <i class="fa-solid fa-angles-left"></i>
              
            </a>
          </li>
          {{/unless}}
          {{#each pages}}
          {{#if isCurrent}}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {{/if}}
          {{#unless isCurrent}}
            <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
          {{/unless}}
          {{/each}}
          {{#unless endAtLastPage}}
            <li class="page-item">
              <a class="page-link" href="?page={{total}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {{/unless}}

        </ul>
      </nav>
      {{/pagination}}
      
      <h3 class="content-bot__header-text">Lịch chiếu</h3>
      <ul class="showTime">
        <li class="item-showTime active" value="2">Thứ 2</li>
        <li class="item-showTime" value="3">Thứ 3</li>
        <li class="item-showTime" value="4">Thứ 4</li>
        <li class="item-showTime" value="5">Thứ 5</li>
        <li class="item-showTime" value="6">Thứ 6</li>
        <li class="item-showTime" value="7">Thứ 7</li>
        <li class="item-showTime" value="8">Chủ nhật</li>
      </ul>
      <div class="container_flimByTime row">
      {{#each flimByTime}}
        <div class="col xxl-3 content-box-flim">
          <div class="content-bot__flim-item">
            <a href="flim/{{this.slug}}" class="content-bot__flim-link">
              <img src="{{this.image}}" alt="" class="content-bot__flim-img">
            </a>
          </div>
          <div class="content-bot__flim-box-name">
            <a href="flim/{{this.slug}}" class="content-bot__flim-box-link">
              <h3 class="content-bot__flim-name">{{this.name}}</h3>
            </a>
          </div>
        </div>
        {{/each}}
        </div>
    </div>
    {{> main-right}}
  </div>
</div>

<script type="text/javascript">
  const main_top = document.getElementById('content__top')
  var i = 0;
  var flims = [];
  `{{#each mustView}}
    ${flims[i] = {name:`{{this.name}}`, image: `{{this.image}}`, slug: `{{this.slug}}`}}
    ${i = i + 1}
  {{/each}}`
  var count = 0
  function render(count, flims) {
    var html = ''
    var j = count
    for(var i = 0; i < 6; i++){
      if(j == flims.length) j = 0
      html += `<div class="content__top-flim">
              <a href="flim/${flims[j].slug}" class="content__top-link">
                <img class= "content__top-img"src="${flims[j].image}">
                <div class="content__top-box">
                  <p class="content__top-box-text" id="text-1">${flims[j].name}</p>
                </div>
              </a>				
            </div>`
        j ++
    }
    return html
  }
  var htmls = render(count, flims)
  main_top.innerHTML = htmls
  setInterval(() => {
    count ++
    if(count == flims.length) count = 0
    htmls = render(count, flims)
    main_top.innerHTML = htmls
  }, 3000) //3s ảnh chuyển 1 lần 

  

  document.addEventListener('DOMContentLoaded', function () {
    const elementShowFlimByTime = $('.container_flimByTime')
    var elementShowTime = $('.item-showTime')
    var d = $('.showTime')
    d.click(function(e) {
      elementShowTime.removeClass('active')
      e.target.classList.add('active')
      var showTime = e.target.value
      // Use jquery
      $.ajax({
              
        type: 'POST',
        url: '/flim/flimByTime',
        data: {showTime: Number(showTime)}, 
        success: function(d){
          var html = ``
          d.data.map(flim => {
            html += `<div class="col xxl-3 content-box-flim">
            <div class="content-bot__flim-item">
              <a href="flim/${flim.slug}" class="content-bot__flim-link">
                <img src="${flim.image}" alt="" class="content-bot__flim-img">
              </a>
            </div>
            <div class="content-bot__flim-box-name">
              <a href="flim/${flim.slug}" class="content-bot__flim-box-link">
                <h3 class="content-bot__flim-name">${flim.name}</h3>
              </a>
            </div>
          </div>`
          })
          elementShowFlimByTime.html(html)
        }
      })
    })      
  })   
</script>

